
.App {
  position: relative;
  text-align: center;
}

button{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 181, 105);
  border: none;
  padding: 1em;
  border-radius: 30px;
  color: #000000;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #f5d5ae;
}

input{
  border: none;
  border-radius: 30px;
  padding: 1em;
}